# Node dependencies
node_modules/
**/node_modules/

# Environment files
.env
**/.env

# Build outputs
dist/
**/dist/

# OS files
.DS_Store
Thumps.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
